
<main>
  <div class="bar"></div>
  <img src="assets/images/logo.png" alt="logo da empresa" />
  <mat-card class="mat-elevation-z4">
    <form [formGroup]="form" (ngSubmit)="sendEmail()">
      <h2>Recuperar Senha</h2>

      <mat-form-field appearance="outline">
        <mat-label>Informe seu Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          required
          formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <a [routerLink]="['/']">Voltar</a>

      <button
        mat-raised-button
        [disabled]="form.invalid"
        [ngClass]="form.invalid == true ? 'disabled' : 'color'">
        Entrar
      </button>
      <span *ngIf="error"  class="error">Email não cadastrado, por favor verifique.</span>
    </form>
  </mat-card>

</main>
<app-footer></app-footer>
