@import '../../config-scss/rem-calc.scss';

/*<i class="fa-regular fa-bars"></i>*/

mat-drawer-container {
  height: 100vh;
}

mat-drawer {
  width: rem-calc(125);
  background-color: var(--primary-color);

  img {
    display: block;
    width: rem-calc(90);
    margin: auto;
    padding: rem-calc(25) 0px rem-calc(25) 0px;
  }

  a {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-color);

    mat-icon {
      width: rem-calc(35);
      height: rem-calc(35);
      font-size: rem-calc(25);
    }

    #sales-search {
      font-size: rem-calc(30);
    }

    #nav-logout {
      margin-top: 15px;
    }

    span {
      font-size: .7rem;
      margin-left: -12px;
    }

    &:hover {
      color: var(--light-green-color);
    }
  }

  .divider {
    height: 1px;
    width: 80%;
    margin: 15px auto;
    background-color: var(--gray-color);
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-color);

  mat-icon {
    color: var(--primary-color);
  }

  .btn-user-name {
    font-size: 1.2rem;
    color: var(--secondary-color);
  }
}

//Rota ativa
.active {
  color: var(--light-green-color) !important;
}

/*Em telas menores de 500px o icone de logout some da toobar*/
@media screen and (max-width: 500px) {
  #btn-logout {
    display: none;
  }
}
