<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <!--Conteudo do nav-->
    <img src="assets/images/logo.png" alt="Logo da empresa">

    <a
      routerLink="/salesman/dashboard"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle(); closeMenu()">
      <mat-icon aria-hidden="false" aria-label="dashboard">local_fire_department</mat-icon>
      <span>Dashboard</span>
    </a>

    <div class="divider"></div>

    <a
      routerLink="/salesman/sale"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle(); closeMenu()">
      <mat-icon aria-hidden="false" aria-label="dashboard">shopping_cart</mat-icon>
      <span>Venda</span>
    </a>

    <a
      routerLink="/salesman/history-client"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle(); closeMenu()">
      <mat-icon aria-hidden="false" aria-label="dashboard" id="sales-search">manage_search</mat-icon>
      <span>Histórico</span>
    </a>

    <div class="divider"></div>

    <a
      routerLink="/configurations"
      [routerLinkActive]="['active']"
      (click)="drawer.toggle(); closeMenu()">
      <mat-icon aria-hidden="false" aria-label="dashboard">settings</mat-icon>
      <span>Configurações</span>
    </a>

    <a href="" >
      <mat-icon aria-hidden="false" aria-label="dashboard" id="nav-logout">logout</mat-icon>
      <span>Logout</span>
    </a>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar class="mat-elevation-z2">

      <button type="button" mat-button (click)="drawer.toggle(); showMenu()">
        <mat-icon aria-hidden="false" aria-label="abrir menu" *ngIf="menu">menu</mat-icon>
        <mat-icon aria-hidden="false" aria-label="fechar menu" *ngIf="!menu">close</mat-icon>
      </button>

      <button mat-button class="btn-user-name"><span>Fernandes</span></button>

      <button type="button" mat-button id="btn-logout" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="sair" >logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
