
:root {
  --white: #fff;
  --primary-color: #425C41;
  --secondary-color: #9D4124;
  --light-green-color: #AAA974;
  --gray-color: #E4E7E4;
  --light-red-color: #FF7272;

  --shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --radius-default: 10px;
}
