@import '../../../config-scss/rem-calc.scss';

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: rem-calc(100);
  width: 100%;
  left: 0;
  padding-top: rem-calc(15);

  background: var(--secondary-color);
  color: var(--white);

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    a {
      text-decoration: none;
      color: var(--white);
    }

  }

  .gilfer {
    font-size: rem-calc(12);
  }
}
