footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0;
  padding: 0;

  background: var(--secondary-color);
  color: var(--white);

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 300px;
    p {
      margin: 0;
    }

  }
}
