main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  mat-toolbar {
    display: flex;
    justify-content: center;

    background: var(--light-green-color);
    height: 125px;
    width: 100%;
    padding: 0;

    img {
      position: relative;
      top: 63px;
      width: 150px;
    }
  }



  mat-card {
    width: 310px;

    background: var(--gray-color);

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        width: 100%;
        margin: 0 auto 15 auto;
        text-align: center;
        color: var(--secondary-color);
      }

      mat-form-field {
        border-color: var(--primary-color);

        input {
          border-color: var(--primary-color);
        }

        mat-icon {
          opacity: 0.5;
        }
      }


      a {
        color: var(--light-green-color);
        text-decoration: none;
      }

      button {
        margin: 15px 0 15px 0;
        cursor: no-drop;
        &.color {
          background: var(--primary-color);
          color: var(--light-green-color);
          cursor: pointer;
        }
      }
      span {
        width: 100%;
        text-align: center;
      }
    }
  }
  .icon_password {
    cursor: pointer;
  }
}
