
@import '../../../config-scss/rem-calc.scss';


main {
  padding: rem-calc(20);

  h2 {
    font-size: rem-calc(16);
    color: var(--secondary-color);
  }

  section.goal {
    margin: 30px 5px;
    padding: 5px;
    border-radius: var(--radius-default);
    background-color: var(--gray-color);
    box-shadow: var(--shadow-default);

    h3 {
      padding: 5px 15px;
      font-size: rem-calc(16);
      color: var(--primary-color);
    }

    p {
      padding: 0px 0px 5px 15px;
      font-size: rem-calc(15);
      font-weight: bold;
    }
  }

  #meta-bar {
    margin: 30px 5px;
    padding: 5px;

    label {
      margin-right: 10px;
      font-size: rem-calc(18);
      font-weight: bold;
      color: var(--secondary-color);
    }

    mat-progress-bar {
      height: 15px;
      margin-top: 10px;
      border-radius: var(--radius-default);
    }

    /*Mudar o background da barra de progresso do material, mudei para o styles.css
    ::ng-deep .mat-progress-bar-fill::after {
      background-color: var(--primary-color);
    }*/
  }
}
