@import '../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  h2 {
    font-size: rem-calc(16);
    color: var(--secondary-color);
  }

  section {
    margin: 30px 5px;
    padding: 5px;
    border-radius: var(--radius-default);
    background-color: var(--gray-color);
    box-shadow: var(--shadow-default);

    h3 {
      padding: 5px 15px;
      font-size: rem-calc(16);
      color: var(--primary-color);
    }

    mat-form-field  {
      width: 90%;
      padding: 0px 15px;
    }
  }

  .divider {
    height: 2px;
    width: 90%;
    margin: 15px auto;
    background-color: var(--gray-color);
  }

  h3#products {
    color: var(--secondary-color);
  }

  .card-product {
    max-width: 320px;
    margin: 30px 5px;
    padding: 5px;
    border-radius: var(--radius-default);
    background-color: var(--gray-color);
    box-shadow: var(--shadow-default);

    h4 {
      text-align: center;
      padding: 10px;
      color: var(--primary-color);
    }

    .product-info {
      display: flex;
      position: relative;
      padding-bottom: 10px;

      img {
        width: 100px;
        border-radius: 5px;
      }

      .desc-product {
        padding: 0px 15px;
        text-align: justify;
      }

      .price-product {
        position: absolute;
        bottom: -5px;
        left: 115px;

        font-weight: 500;
        color: var(--secondary-color);
      }
    }

    mat-form-field {
      width: 48%;
      margin-right: 5px;

      mat-icon {
        opacity: .7;
      }
    }
  }
}
