@import '../../../config-scss/rem-calc.scss';

/*Produtos*/
main {
  padding: rem-calc(20);

  h2 {
    font-size: rem-calc(16);
    color: var(--secondary-color);
  }

  /*Configurações básicas para todos os cards*/
  section.card {
    margin: 30px 5px;
    padding: 5px;
    border-radius: var(--radius-default);
    background-color: var(--gray-color);
    box-shadow: var(--shadow-default);

    /*Cnpj do cliente*/
    h3 {
      padding: 5px 15px;
      font-size: rem-calc(16);
      color: var(--primary-color);
    }

    mat-form-field  {
      width: 90%;
      padding: 0px 15px;
    }
  }

  /*Divisor para separar as seções*/
  .divider {
    height: 2px;
    width: 90%;
    margin: 15px auto;
    background-color: var(--gray-color);
  }

  h3#products {
    color: var(--secondary-color);
  }

  /*Seção que separa os produtos por categorias*/
  section.products-list {
    display: flex;
    overflow-x: scroll; //Scroll de forma horizontal dos produtos
    margin: 10px -20px;
    padding: 0px 5px;

    /*Produtos*/
    .card-product {
      min-width: rem-calc(250);
      margin: 30px 5px;
      padding: 5px;
      border-radius: var(--radius-default);
      background-color: var(--gray-color);
      box-shadow: var(--shadow-default);

      h4 {
        text-align: center;
        padding: 10px;
        color: var(--primary-color);
      }

      .product-info {
        display: flex;
        position: relative;
        padding-bottom: 10px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }

        .desc-product {
          padding: 0px 15px;
          text-align: justify;
          min-height: 80px;
        }

        .price-product {
          position: absolute;
          bottom: -5px;
          left: 115px;

          font-weight: 500;
          color: var(--secondary-color);
        }
      }

      /*Quantidade de produtos*/
      mat-form-field {
        width: 100%;
      }

      /*SubTotal do produto*/
      .sub-amount {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--primary-color);
        font-weight: 450;

        mat-icon {
          opacity: .7;
          color: var(--primary-color);
        }
      }
    }
  }

  .amargo {
    /*Gradiente da categoria Amargo*/
    background: rgb(255,255,255);
    background: linear-gradient(97deg, rgba(255,255,255,1) 0%, rgba(66,92,65,1) 0%, rgba(170,169,116,1) 100%);
  }

  .vitamel {
    /*Gradiente da categoria Vitamel*/
    background: rgb(255,255,255);
    background: linear-gradient(97deg, rgba(255,255,255,1) 0%, rgba(245,88,29,1) 0%, rgba(235,203,0,1) 100%);
  }

  .arrelique {
    /*Gradiente da categoria Arrelique*/
    background: rgb(66,92,65);
    background: linear-gradient(267deg, rgba(66,92,65,1) 0%, rgba(228,231,228,1) 0%, rgba(157,65,36,1) 86%);
  }
}

/* Resumo da venda*/
section.sale-summary {
  background-color: var(--gray-color);

  .header-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0px;
      padding: 5px 15px;
      font-weight: bold;
      font-size: rem-calc(16);
    }

    /*Total da venda*/
    p {
      margin: 0px;
      padding: 25px 15px;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--primary-color);
    }
  }

  /*Forma de pagamento*/
  .paid {
    text-align: center;
    mat-form-field {
      width: 80%;
    }
  }

  .btns {
    display: flex;
    justify-content: space-around;
    padding-bottom: rem-calc(30);

    button {
      width: 40%;

      &.cancel {
        background-color: var(--gray-color);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }

      &.finish {
        background-color: var(--primary-color);
        color: var(--gray-color);
        border: 1px solid var(--gray-color);
      }
    }
  }
}
