<main>
  <h2>Venda</h2>
  <section class="card">
    <h3>CNPJ</h3>
    <mat-form-field appearance="outline">
      <mat-label>Cnpj do cliente</mat-label>
      <input
        mask="00.000.000/0000-00"
        matInput
        placeholder="Cnpj"
        type="text"
        required
        formControlName="email">
    </mat-form-field>
  </section>

  <div class="divider"></div>

  <!-- Lista de produtos -->

  <h3 id="products">Produtos</h3>

  <section class="products-list amargo">
    <div class="card-product">
      <h4>{{products[0].name}}</h4>
      <div class="product-info">
        <img [src]="products[0].pathImg" [alt]="products[0].name">
        <p class="desc-product">{{products[0].description}}</p>
        <p class="price-product">Preço: {{products[0].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[0].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[0].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[0].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>

    <div class="card-product">
      <h4>{{products[1].name}}</h4>
      <div class="product-info">
        <img [src]="products[1].pathImg" [alt]="products[1].name">
        <p class="desc-product">{{products[1].description}}</p>
        <p class="price-product">Preço: {{products[1].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[1].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[1].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[1].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>

    <div class="card-product">
      <h4>{{products[2].name}}</h4>
      <div class="product-info">
        <img [src]="products[2].pathImg" [alt]="products[2].name">
        <p class="desc-product">{{products[2].description}}</p>
        <p class="price-product">Preço: {{products[2].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[2].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[2].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[2].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção do Vitamel-->

  <section class="products-list vitamel">
    <div class="card-product">
      <h4>{{products[3].name}}</h4>
      <div class="product-info">
        <img [src]="products[3].pathImg" [alt]="products[3].name">
        <p class="desc-product">{{products[3].description}}</p>
        <p class="price-product">Preço: {{products[3].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[3].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[3].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[3].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>

    <div class="card-product">
      <h4>{{products[4].name}}</h4>
      <div class="product-info">
        <img [src]="products[4].pathImg" [alt]="products[4].name">
        <p class="desc-product">{{products[4].description}}</p>
        <p class="price-product">Preço: {{products[4].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[4].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[4].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[4].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção Arrelique-->
  <section class="products-list arrelique">

    <div class="card-product">
      <h4>{{products[5].name}}</h4>
      <div class="product-info">
        <img [src]="products[5].pathImg" [alt]="products[5].name">
        <p class="desc-product">{{products[5].description}}</p>
        <p class="price-product">Preço: {{products[5].price | currency }}</p>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input
            [(ngModel)]="products[5].quantity"
            mask="separator.2"
            thousandSeparator="."
            matInput
            placeholder="Quantidade"
            (input)="addQuantityProd(products[5].id)">
        </mat-form-field>
        <div class="sub-amount">
          <span>Subtotal: {{ products[5].amount | currency }}</span>
          <mat-icon>paid</mat-icon>
        </div>
      </div>
    </div>
  </section>

</main>

<section class="sale-summary">
    <div class="header-summary">
      <h2>TOTAL DA COMPRA</h2>
      <p>{{ amountSale | currency }}</p>
    </div>

    <div class="paid" [formGroup]="formSummary">
      <mat-form-field appearance="outline">
        <mat-label>Forma de Pagamento</mat-label>
        <mat-select required formControlName="formPay">
          <mat-option value="vista">Á Vista</mat-option>
          <mat-option value="check">Cheque</mat-option>
          <mat-option value="ticket">Boleto</mat-option>
        </mat-select>
      </mat-form-field>

      <!--Only if == of the boleto-->
      <mat-form-field appearance="outline" *ngIf="formSummary.value.formPay == 'ticket'">
        <mat-label>Quantidade de Parcelas</mat-label>
        <mat-select required formControlName="quantityTimes">
          <mat-option value="one">1x</mat-option>
          <mat-option value="two">2x</mat-option>
          <mat-option value="three">3x</mat-option>
          <mat-option value="four">4x</mat-option>
          <mat-option value="five">5x</mat-option>
          <mat-option value="six">6x</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="btns">
      <button mat-button class="cancel">Cancelar</button>
      <button mat-raised-button class="finish mat-elevation-z4" (click)="submit()">Finalizar</button>
    </div>

</section>

