<main>
  <h2>Histórico de Cliente</h2>
  <section class="card" [formGroup]="formSummary">
    <h3>CNPJ</h3>
    <mat-form-field appearance="outline">
      <mat-label>Cnpj do cliente</mat-label>
      <input
        mask="00.000.000/0000-00"
        matInput
        placeholder="Cnpj"
        type="text"
        required
        formControlName="cnpj"
        (input)="checkCnpj()">
    </mat-form-field>
    <p class="client-name">{{ clientName }}</p>
  </section>

  <div class="divider"></div>

  <!-- table -->
  <section class="space-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="col-width-min"> ID </th>
        <td mat-cell *matCellDef="let element" class="col-width-min"> {{element.id}} </td>
      </ng-container>
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="col-width-min"> Data </th>
        <td mat-cell *matCellDef="let element" class="col-width-min"> {{element.date}} </td>
      </ng-container>
      <!-- amount Column -->
      <ng-container matColumnDef="amount" class="col-width-min">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</main>
